{% extends 'BackEnd/base.html.twig' %}

{% block title %}LaCarteDesAnimaux - Accueil{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Admin Console</h1>
    <p> Ici vous pouvez consulter, modifier et supprimer tout ce que vous souhaitez</p>
    <p> Annonce - Evenement - Compte</p>
    <p> Vous pouvez ajouter des comptes ADMIN</p>
</div>
{% endblock %}
