{% extends 'BackEnd/base.html.twig' %}

{% block title %}Modifier Annonce{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/autocompleteAuto.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Modifier Annonce</h1>

    <div class="card-container">
        <div class="panel">
            {{ include('BackEnd/annonce/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    <a class="btn" href="{{ path('admin_annonces') }}">Revenir à la liste</a>

    {{ include('BackEnd/annonce/_delete_form.html.twig') }}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAipTm3HoOVFjsVcePwaIRK9GhjqgvwS-U&libraries=places&callback=initMap&channel=GMPSB_addressselection_v1_cAB" async defer></script>

{% endblock %}
