
body {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 100%;
}

/*MEDIAS QUERIES */

/*
320px—480px: Mobile devices
481px—768px: iPads, Tablets
769px—1024px: Small screens, laptops
1025px—1200px: Desktops, large screens
1201px and more— Extra large screens, TV
 */


.page-footer a{
  color: white;
}



footer{
  position:static;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.navbar-fixed {
  z-index: 998;
}
