
body {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
}

nav {
  font-family: Lato;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 100%;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner{
  margin-top: 100px;
  margin-bottom: 100px;
}

.result {
  margin-top: 100px;
  margin-bottom: 100px;
}

h1, h2, h3 , th {
  font-family: Lato;
  text-shadow: 1px 1px 10px lightgrey;
}

.collection {
  box-shadow: 10px 5px 5px lightgrey;
}

table , responsive-table {
  border-style: ridge;
  box-shadow: 10px 5px 5px lightgrey;
  overflow-x: auto;
  margin-bottom: 50px;
}


.page-footer a{
  color: white;
}



footer{
  position:static;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.navbar-fixed {
  z-index: 998;
}
