{% extends 'base.html.twig' %}

{% block title %}Page not found - Carte des Animeaux{% endblock %}

{% block body %}
    <h1>Page not found - Carte des Animaux</h1>

    <p>
        The requested page couldn't be located. Checkout for any URL
        misspelling or <a href="{{ path('default') }}">return to the homepage</a>.
    </p>
{% endblock %}