{% extends 'base.html.twig' %}

{% block title %}Modifier profil{% endblock %}

{% block body %}
    <h1>Modifier profil de l'utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('user_show') }}">
        <button style ="background-color:#ffcc00; margin: 5px" class="btn">
            Revenir au profil
        </button>
    </a>

{% endblock %}
