{% extends 'BackEnd/base.html.twig' %}

{% block title %}LaCarteDesAnimaux ADMIN - Modifier profil{% endblock %}

{% block body %}
    <h1>Modifier profil de l'utilisateur</h1>

    {{ include('BackEnd/user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('admin_users_show', {'id': user.id}) }}">
        <button style ="background-color:#ffcc00; margin: 5px" class="btn">
            Revenir au profil
        </button>
    </a>

{% endblock %}
