{% extends 'base.html.twig' %}

{% block title %}Modifier Evenement{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/autocompleteAuto.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Modifier Evenement</h1>

    <div class="card-container">
        <div class="panel">
            {{ include('evenement/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </div>

    <div class="last-btn" style="margin-top : 5px; margin-bottom: 20px;">
        <a class="btn" href="{{ path('mes_evenements_index') }}">Revenir à la liste</a>
        {{ include('evenement/_delete_form.html.twig') }}
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAipTm3HoOVFjsVcePwaIRK9GhjqgvwS-U&libraries=places&callback=initMap&channel=GMPSB_addressselection_v1_cAB" async defer></script>

{% endblock %}
