{% extends 'base.html.twig' %}

{% block title %}Ajouter Evenement{% endblock %}

{% block body %}
    <h1>Ajouter Evenement</h1>

    {{ include('evenement/_form.html.twig') }}

    <a href="{{ path('mes_evenements_index') }}">back to list</a>
{% endblock %}
