<h1>Bonjour !</h1>

<p>Pour changer votre mot de passe, s'il vous plait suivez le lien</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>La Carte Des Pets !</p>
