{% extends 'BackEnd/base.html.twig' %}

{% block title %}Modifier Annonce{% endblock %}

{% block body %}
    <h1>Modifier Annonce</h1>

    {{ include('BackEnd/annonce/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn" href="{{ path('admin_annonces') }}">Revenir à la liste</a>

    {{ include('BackEnd/annonce/_delete_form.html.twig') }}
{% endblock %}
