<h1>Bonjour {{ user.pseudo }}, confirmez votre email !</h1>

<section>
    <p>
        Confirmez votre email en cliquant sur le lien suivant: <br><br>
        <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
        Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>

    <p>
        La carte des animaux !
    </p>
</section>
