{% extends 'base.html.twig' %}

{% block title %}LaCarteDesAnimaux - Page introuvable{% endblock %}

{% block body %}
    <h1>Page introuvable</h1>

    <div class="collection" style="box-shadow:10px 5px 5px lightgrey;">
        <p>
            La page que vous cherchez est introuvable . <br/>
            Etes vous sûr d'avoir tapé la bonne adresse (URL) ?
            <a class="btn" href="{{ path('default') }}">Retour à la page d'accueil</a>.
        </p>
    </div>

{% endblock %}