{% extends 'base.html.twig' %}

{% block title %}LaCarteDesAnimaux - Page introuvable{% endblock %}

{% block body %}
    <h1>Erreur - Site Web</h1>

    <p>
        <a class="btn" href="{{ path('default') }}">Retour à la page d'accueil</a>.
    </p>
{% endblock %}