{% extends 'base.html.twig' %}

{% block title %}LaCarteDesAnimaux - Accès refusé{% endblock %}

{% block body %}
    <h1>Accès refusé</h1>

    <div class="collection" style="box-shadow:10px 5px 5px lightgrey;">
        <div class="row">
            <p>
                Vous n'êtes pas autorisé à accéder à cette page .
                Vous pouvez retourner sur la <a href="{{ path('default') }}">page d'accueil</a>.
            </p>
        </div>
    </div>

{% endblock %}